.image-preview {
  margin-top: 10px;
}

.preview-img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
  display: block;
}

.edit-model {
  max-width: 500px;
}

.model-header {
  padding-bottom: 0.5rem;
}
.model-body {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.model-footer {
  padding-top: 0.5rem;
}
.addproduct-title {
  margin-bottom: 70px;
}
.onerror-img-pro {
  width: 100px;
  height: 60px;
}